user.email=megha.bansal.ext@zeiss.com
user.name=Megha Bansal
core.hookspath=~/.git-templates/hooks
commit.template=/home/megha/gitcommitmsg
commit.verbose=true
core.repositoryformatversion=0
core.filemode=true
core.bare=false
core.logallrefupdates=true
remote.origin.url=https://github.com/megha910825/dotfiles.git
remote.origin.fetch=+refs/heads/*:refs/remotes/origin/*
branch.master.remote=origin
branch.master.merge=refs/heads/master
